/* Container for the Blog page */
.blog-container {
    padding: 4rem;
    background-color: #f9f9f9;
  }
  
  /* Title for the Blog Page */
  .blog-title {
    font-size: 2.5rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 2rem;
    color: #333;
  }
  
  /* Individual Blog Card */
  .blog-card {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
  }
  
  /* Blog Card hover effect */
  .blog-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }
  
  /* Button Styling */
  .blog-button {
    margin-top: 1rem;
    text-transform: none;
  }
  
  /* Fade-in initial state */
.fade-in {
    opacity: 0;
    transform: translateY(50px); /* Start from below */
    transition: opacity 1s ease, transform 1s ease;
  }
  
  /* Fade-in visible state */
  .fade-in-visible {
    opacity: 1;
    transform: translateY(0); /* Move to original position */
  }
  
  
  /* Responsive styles for smaller screens */
  @media (max-width: 768px) {
    .blog-title {
      font-size: 2rem;
    }
  
    .blog-card {
      margin-bottom: 2rem;
    }
  }
  