/* Container for the entire contact page */
.contact-container {
    padding: 2rem;
  }
  
  /* Title Styling */
  .contact-title {
    text-align: center;
    margin-bottom: 2rem;
     color: #1976d2; /*Material UI Primary Color */
    font-weight: bold;
  }
  
  /* Styling for section titles */
  .contact-section-title {
    margin-bottom: 1rem;
    color: #333;
  }
  
  /* Input Field Styling */
  .contact-input {
    margin-bottom: 1.5rem;
    font-size: 1rem;
  }
  
  /* Button Styling */
  .contact-submit-button {
    margin-top: 1rem;
    background-color: #0d253d;
    color: white;
    text-transform: none;
    padding: 10px 20px;
    font-size: 1rem;
  }
  
  /* Support Information Styling */
  .contact-support-info {
    margin-top: 2rem;
    font-size: 1.1rem;
    color: #555;
  }
  
  /* Grid item responsive design */
  @media screen and (max-width: 768px) {
    .contact-container {
      padding: 1rem;
    }
  
    .contact-title {
      font-size: 1.5rem;
    }
  
    .contact-section-title {
      font-size: 1.2rem;
    }
  
    .contact-input {
      font-size: 0.9rem;
    }
  
    .contact-submit-button {
      width: 100%;
    }
  }
  