/* Basic header styles */
.header {
  color: black;
  border-bottom: 1px solid #e0e0e0;
  background-color: #FFFFFF !important;
}

.toolbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 24px;
  min-height: 64px;
}

.logo-container {
  display: flex;
  align-items: center;
}

.icon-button {
  margin-right: 8px;
}

.circle-icon {
  color: #008000;
  font-size: 1.5rem;
}

.logo-text {
  color: #008000;
  font-weight: bold;
  text-decoration: none;
}

/* Styles for hamburger menu */
.hamburger-menu {
  position: absolute;
  top: 16px;
  right: 24px; /* Positions the hamburger icon in the top-right corner */
  color: black;
}

.hamburger-menu .MuiSvgIcon-root {
  font-size: 30px;
}
.hamburger-menu {
  display: block !important; /* Force visibility */
}


/* Updated nav buttons style for larger screens */
.nav-buttons {
  display: flex;
  gap: 24px; /* Increased gap between the buttons */
}

.nav-button {
  text-transform: none;
  padding: 6px 10px;
  color: black !important;
  background-color: transparent;
  border: none;
  font-size: 1rem;
}

.nav-buttons .nav-button:hover {
  color: #008000; /* Green color on hover */
}

/* More specific selector for the sign-in button to override Material UI styles */
.sign-in-button {
  color: white;
  border-radius: 20px;
  padding: 8px 20px;
  background-color: #28a745 !important; /* Green background, with !important to override Material UI */
  text-transform: none;
  font-weight: bold;
  border: none;
}

.sign-in-button:hover {
  background-color: #218838 !important; /* Darker green for hover effect */
}


.hamburger-menu {
  display: none;
}

@media (max-width: 960px) { /* Adjust the max-width to match your breakpoint */
  .hamburger-menu {
    display: block; /* Make the hamburger icon visible */
  }
}

/* Mobile and tablet responsive styles */
@media (max-width: 768px) {
  .toolbar {
    flex-direction: column;
    align-items: center;
    padding: 16px;
  }

  .logo-container {
    margin-bottom: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .nav-buttons {
    display: none; /* Hide the nav buttons on mobile */
  }

  .sign-in-button {
    display: none; /* Hide sign-in button on mobile */
  }

  .hamburger-menu {
    display: block; /* Make hamburger menu visible on mobile */
  }
}

@media (max-width: 480px) {
  .logo-text {
    font-size: 1.2rem;
  }
}
